extends ../layouts/layout   

block content
    h1 Index Product Shopping Cart
    .row.mt-5
        each product in products
            .col-md-3.p-2
                .card
                    img.card-img-top.img-responsive(src= product.imagePath, alt='...')
                    .card-body
                        h5.card-title.product-name= product.name
                        p.card-text.description= product.description
                        a.btn.btn-primary(href='/products/add-to-cart/' + product._id) Add to cart